.nav-register {
    background-color: #272d31;
    width: 18vw;
    height: 86vh;
    position: absolute;
}

.nav-register-links{
    color: #85E18B;
    cursor:pointer;
}

li{
    list-style-type: none;
}

.nav-menu-register{
    display: grid;
    grid-template-rows: repeat(5, 8vh);
    margin-top: 6vh;
    height:80%
}

@media only screen and (max-width: 1200px){
    .nav-menu-register{
        padding: 0;
        font-size: small;
    }

    .nav-register {
        width: 25vw;
    }
}
