.left-nav-container{
    background-color: #272d31;
    width: 18vw;
    height: 86vh;
    position: absolute;
}

.left-nav-links{
    color: #85E18B;
}

li{
    list-style-type: none;
}

.left-nav-menu{
    display: grid;
    grid-template-rows: repeat(8, 8vh);
    margin-top: 6vh;
}

@media only screen and (max-width: 1200px){
    .left-nav-container{
        width: 25vw;
    }

    ul.left-nav-menu{
        padding: 0;
        font-size: small;
    }
}