main{
    display: grid;
    grid-template-columns: repeat(15, 1fr);
}

.Notification, .Timetable{
    background-color: rgba(255, 255, 255, 0.699);;
    margin: 1em;
    border: 0.1em solid rgb(85 85 241);
    box-shadow: 9px 8px 10px 2px rgb(44 44 95);
    border-radius: 1em;
}

.Notification {
    text-align: inherit;
}

.Notifications{
    grid-column: 2/10;
}

.Timetables{
    grid-column: 10/15;
}