.nav-message{
    background-color: #272d31;
    width: 18vw;
    height: 86vh;
    position: absolute;
}

.nav-message-links{
    color: #85E18B;
}

li{
    list-style-type: none;
}

.nav-menu-message{
    display: grid;
    grid-template-rows: repeat(5, 8vh);
    margin-top: 6vh;
}