.content {
    height: 100%;
    width: 100%;
    display: flex;
}

/*todo scrollbar*/
.grades-content {
    background-color: white;
    height: 78vh;
    width: 90%;
    margin: auto;
    border: 2px solid #272d31;
    border-radius: 2em ;
    box-shadow: 10px 10px rgba(0,0,0,.15);
    transition: all .4s ease;
    display: flex;
    flex-direction: column;
}

.grades-content:hover{
    border-radius: 2em ;
    box-shadow: 5px 5px rgba(0,0,0,.25);
}

.margin-grades{
    margin: 3vw 0 0 18vw;
    width: 100%;
    height: 100%;
}

.period{
    margin: 0 0 1em 2em;
}
.grades{
    width: 100%;
    height: 100%;
    overflow: auto;
    margin-bottom: 1em;
}
