.rec{
    display: flex;
}

.receiver-messages{
    margin: 0 0 0 18vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 40vw;
    height: 86vh;
}

.trash{
    margin: 0 0 0 18vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 90vw;
    height: 86vh;
}

.receiver-message{
    margin: 0 0 0 1vw;
    background-color: white;
    width: 40vw;
    height: 86vh;
}

.receiver-message > p, .receiver-message > h2, .receiver-message >h4 {
    margin-left: 1em;
}

.rec-messages-list{
    overflow: auto;
}

.rec-messages-list>li{
    border-bottom: 0.01em solid;
    width: 33vw;
    cursor: pointer;
}

@media only screen and (max-width: 1200px){
    .receiver-messages{
        margin: 0 0 0 25vw;
        width: 75vw;
        height: 50vh;
    }

    .receiver-message{
        margin: 0 0 0 25vw;
        width: 75vw;
        height: 36vh;
    }

    .rec{
        flex-direction: column;
    }

    .rec-messages-list>li{
        width: 68vw;
    }

    ul.rec-messages-list{
        padding: 0;
    }
}