.content {
    height: 100%;
    width: 100%;
    display: flex;
}

.grades-content {
    background-color: white;
    height: 78vh;
    width: 95%;
    margin: auto;
    border: 0.1em solid grey;
    border-radius: 1em;
    transition: all .4s ease;
    display: flex;
    flex-direction: column;
}

.grades-content-student {
    background-color: white;
    height: 78vh;
    width: 75%;
    margin: 5vh auto auto auto;
    border: 0.1em solid grey;
    border-radius: 1em;
    transition: all .4s ease;
    display: flex;
    flex-direction: column;
}


.grades-content:hover {
    box-shadow: 5px 5px rgba(0, 0, 0, .1);
}

.margin-grades {
    margin: 3vw 0 0 18vw;
    width: 100%;
    height: 100%;
}

.period {
    margin: 0.3em 0 1em 2em;
    display: flex;
}

.period1 {
    margin: 0 0 1em 2em;
    display: flex;
    border: 0.1em solid grey;
    border-radius: 1em;
    padding: 0.5em;
    width: 5vw;
    justify-content: space-around;
    background-color: hsla(120, 60%, 70%, 0.3);

}

.period1 > button {
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.period1 > button:focus {
    background-color: #85E18B;
    outline: none
}




.grades {
    width: 100%;
    height: 100%;
    overflow: auto;
    margin-bottom: 1em;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px rgb(0 0 0 / 0%);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #85E18B;
    border-radius: 1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #63C069;
    border-radius: 1em;
}

.choose-subject {
    display: flex;
}

.text-choose {
    margin: 1.2vh 1vw 0 3vw;
}
select{
    width:20vw;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    background: #2c3e50 none;
    flex: 1;
    /*padding: 0 .5em;*/
    color: #fff;
    cursor: pointer;
    height:4vh;
    border-radius:1em;
    text-align:center;
    text-align-last:center;
}

select::-ms-expand {
    display: none;
}

select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #34495e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

select:hover::after {
    color: #f39c12;
}


